@media screen and (max-width:1080px) {
    html {
        font-size: 93.75%;
    }

    .backmain {
        height: 100vh;
        max-height: 70rem;
    }
}

@media screen and (max-width:720px) {
    html {
        font-size: 87.5%;
    }

    .backmain {
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .headmain img {
        width: 98%;
    }

    .video {
        width: 85%;
        height: 14rem;
    }
}

@media screen and (max-width:540px) {
    .headmain {
        padding-top: 0;
        padding-bottom: 2rem;
    }

    .headmain img:nth-child(1) {
        display: none;
    }
    
    .headmain img:nth-child(2) {
        display: grid;
    }
    
    main {
        background-image: url(../image/bg.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .security img {
        width: 15rem;
    }
    
    .securitytwo img {
        width: 15rem;
    }

    .end {
        padding-top: 2rem;
    }

    .endmain {
        padding-top: 1rem;
    }
}

@media screen and (max-width:490px) {
    html {
        font-size: 82%;
    }

    .headmain p {
        font-size: 1.54rem;
        padding-bottom: 0.8rem;
        padding-top: 3rem;
    }

    .icon img {
        width: 1.15rem;
        margin-right: 0.8rem;
    }

    .verification p {
        font-size: 0.8rem;
    }

    .button img {
        width: 1rem;
        margin-right: 0.8rem;
    }

    .button p {
        font-size: 0.8rem;
    }

    .chat {
        width: 95%;
    }

    .backblackfooter {
        display: block;
    }

    .warning {
        margin: auto;
        width: 100%;
    }

    .warning .textfooter {
        text-align: initial;
        width: 100%;
    }

    .rodapepe {
        width: 90%;
    }

    .rodape {
        margin: 2rem auto;
        width: 70%;
    }

    .logo img {
        width: 2.5rem;
    }
}

@media screen and (max-width:376px) {
    .headmain img {
        margin-top: 7rem;
    }

    .headmain p {
        font-size: 1.4rem;
    }

    .video video {
        padding-bottom: 4rem;
    }
}

@media screen and (max-width:350px) {
    .top p {
        font-size: 0.8rem;
    }

    .headmain img {
        width: 9rem;
    }

    .headmain p {
        font-size: 1rem;
    }

    .video video {
        margin-bottom: 0.7rem;
    }

    .icon img {
        width: 1rem;
        margin-right: 0.8rem;
    }

    .verification p {
        font-size: 0.45rem;
    }

    .button img {
        width: 0.6rem;
        margin-right: 0.8rem;
    }

    .button p {
        font-size: 0.5rem;
    }

    .security img {
        width: 12rem;
    }
}

@media screen and (max-width:300px) {
    .video {
        height: 10rem;
    }
}